table{
    width: 800px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;

}

th, td, tr{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.userBox{
    background-color: white;
}